################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/MagicSquare/.vs/MagicSquare
/.vs/KGCA40/v16/.suo
/MagicSquare/x64/Debug
/Queue/x64/Debug
/Stack/x64/Debug
/.vs/새 폴더/v16
/.vs
