################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/MagicSquare/.vs/MagicSquare
/.vs/KGCA40/v16/.suo
/MagicSquare/x64/Debug
/Queue/x64/Debug
/Stack/x64/Debug
/LinkedList/x64/Debug
/TemplateLinkedList/x64/Debug
/BST/x64/Debug
/list/x64/Debug
/map/x64/Debug
/Vector/x64/Debug
/string/x64/Debug
/output
/Quadtree/ClassDiagram.cd
/Quadtree/ClassDiagram1.cd
/SampleLib/x64/Debug
/KGCA40/.vs/KGCA39/v16
/KGCA40/output
/KGCA40/SampleLib/x64/Debug
/KGCA40/string/x64/Debug
/include/dxtk
/etc
/KGCA40/DirectXTK-master/.nuget
/KGCA40/DirectXTK-master/.bwoi
/fbx/include
/fbx/lib/vs2017
/.vs
/KGCA40b/.vs/KGCA40b/v16
