################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/output
/.vs
/KGCA/.vs/KGCA40/v16
/KGCA41/KGCA41/.vs/KGCA41/v16
/KGCA41/.vs/KGCA41/v16
/KGCA41/FileIO_0/demo.txt
/lib/LinkedListLib.lib
/LinkedList
