USE [master]
GO
/****** Object:  Database [KGCAGAME]    Script Date: 2022-02-08 오후 4:12:08 ******/
CREATE DATABASE [KGCAGAME]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KGCAGAME', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\KGCAGAME.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KGCAGAME_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\KGCAGAME_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KGCAGAME].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KGCAGAME]
GO
USE [KGCAGAME]
GO
/****** Object:  Table [dbo].[gameuser]    Script Date: 2022-02-08 오후 4:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gameuser](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [nchar](10) NOT NULL,
	[userps] [nchar](10) NOT NULL,
	[account] [smalldatetime] NOT NULL,
	[login] [smalldatetime] NULL,
	[logout] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[gameuser] ON 

INSERT [dbo].[gameuser] ([Id], [userid], [userps], [account], [login], [logout]) VALUES (22, N'kgca      ', N'game      ', CAST(N'2022-02-08T15:41:00' AS SmallDateTime), CAST(N'2022-02-08T15:41:00' AS SmallDateTime), CAST(N'2022-02-08T15:44:00' AS SmallDateTime))
INSERT [dbo].[gameuser] ([Id], [userid], [userps], [account], [login], [logout]) VALUES (23, N'홍길동       ', N'1234      ', CAST(N'2022-02-08T15:52:00' AS SmallDateTime), CAST(N'2022-02-08T15:52:00' AS SmallDateTime), CAST(N'2022-02-08T15:52:00' AS SmallDateTime))
INSERT [dbo].[gameuser] ([Id], [userid], [userps], [account], [login], [logout]) VALUES (24, N'testuser  ', N'11111     ', CAST(N'2022-02-08T15:55:00' AS SmallDateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[gameuser] OFF
GO
ALTER TABLE [dbo].[gameuser] ADD  CONSTRAINT [DF_gameuser_account]  DEFAULT (getdate()) FOR [account]
GO
/****** Object:  StoredProcedure [dbo].[AccountCreate]    Script Date: 2022-02-08 오후 4:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AccountCreate]
	@id NCHAR(10),
	@ps NCHAR(10)
AS
	SET NOCOUNT ON -- 실행결과 출력하지 않는다.
	BEGIN TRY		
		declare @ret NCHAR(10)
		select @ret = userid from gameuser where userid = @id
		-- ID 이미 존재하면 
		if(@ret <> N'')
			begin 
				return 1;
			end
		else
			begin
				insert into gameuser(userid, userps) values(@id,@ps)	
			end
		return 0;		
	END TRY
		
	BEGIN CATCH
		RETURN 2;
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[AllUserList]    Script Date: 2022-02-08 오후 4:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AllUserList]
AS
	SELECT * from dbo.gameuser
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[CheckPassword]    Script Date: 2022-02-08 오후 4:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CheckPassword]
	@id NCHAR(10),
	@ps NCHAR(10)
AS
	SET NOCOUNT ON -- 실행결과 출력하지 않는다.
	BEGIN TRY		
		declare @ret NCHAR(10)
		select @ret = userps from gameuser where userid = @id
		-- ID 이미 존재하면 
		if(@ret <> @ps)
			begin 
				return 1;
			end		
		execute dbo.Loginuser @id
		return 0;		
	END TRY
		
	BEGIN CATCH
		RETURN 2;
	END CATCH
GO
/****** Object:  StoredProcedure [dbo].[CheckPaswordRet]    Script Date: 2022-02-08 오후 4:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CheckPaswordRet]	
	@id NCHAR(10), 
	@ps NCHAR(10) OUTPUT
AS
BEGIN
	SET NOCOUNT ON;
    -- Insert statements for procedure here
	SELECT @ps= userps from dbo.gameuser where @id=userid
END
GO
/****** Object:  StoredProcedure [dbo].[GameUserInfo]    Script Date: 2022-02-08 오후 4:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GameUserInfo]
	@id NCHAR(10)
AS
	SELECT * from dbo.gameuser where userid=@id
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Loginuser]    Script Date: 2022-02-08 오후 4:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Loginuser]
	@id NCHAR(10)
AS
	UPDATE dbo.gameuser set login=GETDATE() where userid=@id
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[Logoutuser]    Script Date: 2022-02-08 오후 4:12:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Logoutuser]
	@id NCHAR(10)
AS
	update dbo.gameuser set logout=GETDATE() where userid=@id
RETURN 0
GO
USE [master]
GO
