USE [KGCATest]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 2023-03-10 오후 2:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nchar](10) NOT NULL,
	[PASS] [nchar](10) NOT NULL,
	[GLEVEL] [int] NULL,
	[SEX] [int] NULL,
	[ACCOUNT] [smalldatetime] NULL,
	[LOGIN] [smalldatetime] NULL,
	[LOGOUT] [smalldatetime] NULL,
 CONSTRAINT [PK_ACCOUNT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ID], [NAME], [PASS], [GLEVEL], [SEX], [ACCOUNT], [LOGIN], [LOGOUT]) VALUES (2, N'GAME', N'2222', 10, 0, CAST(N'2023-03-10T10:24:00' AS SmallDateTime), CAST(N'2023-03-10T10:25:00' AS SmallDateTime), CAST(N'2023-03-10T10:24:00' AS SmallDateTime))
INSERT [dbo].[ACCOUNT] ([ID], [NAME], [PASS], [GLEVEL], [SEX], [ACCOUNT], [LOGIN], [LOGOUT]) VALUES (7, N'홍길동', N'1234', 0, 0, CAST(N'2023-03-10T13:37:00' AS SmallDateTime), CAST(N'2023-03-10T13:37:00' AS SmallDateTime), CAST(N'2023-03-10T13:37:00' AS SmallDateTime))
INSERT [dbo].[ACCOUNT] ([ID], [NAME], [PASS], [GLEVEL], [SEX], [ACCOUNT], [LOGIN], [LOGOUT]) VALUES (11, N'FDFA', N'111', 0, 0, CAST(N'2023-03-10T13:41:00' AS SmallDateTime), CAST(N'2023-03-10T13:41:00' AS SmallDateTime), CAST(N'2023-03-10T13:41:00' AS SmallDateTime))
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_GLEVEL]  DEFAULT ((0)) FOR [GLEVEL]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_SEX]  DEFAULT ((0)) FOR [SEX]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_ACCOUNT]  DEFAULT (getdate()) FOR [ACCOUNT]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_LOGIN]  DEFAULT (getdate()) FOR [LOGIN]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [DF_ACCOUNT_LOGOUT]  DEFAULT (getdate()) FOR [LOGOUT]
GO
/****** Object:  StoredProcedure [dbo].[usp_Alluserinfo]    Script Date: 2023-03-10 오후 2:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_Alluserinfo]	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM dbo.ACCOUNT;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteAccount]    Script Date: 2023-03-10 오후 2:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_DeleteAccount]
	@UNAME NCHAR(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	DELETE ACCOUNT WHERE NAME=@UNAME;
END
GO
/****** Object:  StoredProcedure [dbo].[usp_InsertAccount]    Script Date: 2023-03-10 오후 2:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_InsertAccount]
	@UNAME NCHAR(10),
	@UPASS NCHAR(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	BEGIN TRY
		-- Insert statements for procedure here
		INSERT INTO ACCOUNT (NAME, PASS)
		VALUES (@UNAME, @UPASS);
	END TRY

	BEGIN CATCH
		RETURN 2;
	END CATCH
END
RETURN 0;
GO
/****** Object:  StoredProcedure [dbo].[usp_passout]    Script Date: 2023-03-10 오후 2:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_passout]
	@UID NCHAR(10),
	@UPASS NCHAR(10) OUTPUT
AS
	SELECT @UPASS=PASS FROM dbo.ACCOUNT WHERE @UID = NAME;
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[usp_UpdateAccount]    Script Date: 2023-03-10 오후 2:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[usp_UpdateAccount] 
	@UNAME NCHAR(10),
	@PNAME NCHAR(10),
	@PPASS NCHAR(10),
	@PLEVEL INT,
	@PSEX INT	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	--SET NOCOUNT ON;

	BEGIN TRY
		-- Insert statements for procedure here
		UPDATE ACCOUNT SET NAME=@PNAME, PASS=@PPASS, GLEVEL=@PLEVEL, SEX=@PSEX 	
		WHERE @UNAME=NAME
	END TRY
	
	BEGIN CATCH
		--- 예외처리
		RETURN 1;
	END CATCH
END
RETURN 0
GO
/****** Object:  StoredProcedure [dbo].[usp_Userinfo]    Script Date: 2023-03-10 오후 2:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_Userinfo]
	@UNAME NCHAR(10)
AS
	SET NOCOUNT ON
	DECLARE @tmpName NCHAR(10) = N''
	SELECT @tmpName= RTRIM(NAME) FROM ACCOUNT	WHERE NAME = @UNAME
	IF(@tmpName = N'')
	BEGIN--{
		RETURN 1; -- 이름이 없다.
	END--}
	SELECT * FROM ACCOUNT WHERE @UNAME=NAME;	
RETURN 0
GO
