USE [KGCATest]
GO
/****** Object:  StoredProcedure [dbo].[usp_passout]    Script Date: 2023-03-09 오후 12:49:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[usp_passout]
	@UID NCHAR(10), -- 입력
	@UPS NCHAR(10) OUTPUT
AS
BEGIN
	SELECT @UPS=PASS  FROM  dbo.ACCOUNT 
	WHERE @UID=NAME
END
RETURN 1;
